<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>la parte despues de registrarte o loguearte</title>
</head>
<body>
<h1>Bien ahi crack</h1>
link para borrar usuario<br>
link para cerrar sesion<br>
link para mofifivar datos usuario<br>
link perfil del usuario<br>
link hacia interfaz de foros ((opciones de responder y de crear foros)en el link poder ver, crear, responder, eliminar post)<br>
(si se puede) cracion avatar personalizable, metodo de calificacion, reclamos<br>
verificar formularios login, registro, cuestionario inicial, (si se hacen por formularios: formularios de postular duda, responder duda, editar duda, cambiar estado de duda)<br>
Acomodar titulos y encabezados
barra de busqueda de duds por coincidencia
con js hacer que pregunte si queres cerrr sesion
</body>
</html>.otraa {
